body{
	background-color:rgb(236, 230, 221);
}

li{
	display: inline-block;
}
.ulheader{
	text-align: center;
	padding-top: 3px;
}
/* .welcomme1{
	background-image: url('/static/images/reading1.jpg');
	
	width:auto ;
	height: 500px;
	border-radius: 10px;
	background-position: center center ;
	background-size: cover;
     
} */
.para{
	text-align: center;
	font-size: 30px;
	color: whitesmoke;
	padding-top: 4cm;
}
ul a{
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	border: 1px solid  gray;
	border-radius: 10px;
	background-color: gray;	
	text-decoration: none; 
	font-weight: bold;
}
header{
	/* margin-top: 0.3cm; */
	border: 1px solid rgba(8, 8, 8, 0.493);
	background-color:#282828;
	position: fixed;
	border-radius: 15px;
	height: 60px;
	margin-bottom: 20px;
	top: 0;
	box-shadow: 2px 2px 2px rgb(27, 26, 26);
	width: 100%;
	
}
 .image{
	margin-top:80px;
	width:100% ;
	height: 450px;
	border-radius: 10px;
	position: static;
}

.images{
	/* margin-top:80px; */
	width:90% ;
	height: 90%;
	border-radius: 10px;
	position: static;
	/* transform: scale(1,1); */

	
}
/* div img:hover{
	transform: scale(1.1);
} */
div img{
	transition: 0.01s;
}
ul a:hover {background-color: black;}
/* a:visited {color:gray ;} */
ul a:active {background-color:red;
text-decoration: none;}


.shapebook{
	margin-top: 40px;
	display: flex;
	padding-left:80px ;
	/* margin-bottom: 20px;	 */
}

.shapebook1{
	display: flex;

}


.foter{
	background-color:  #282828;
	background-position: center center;
	text-shadow: rgb(31, 23, 22) 20px 35px 50px;
	height: 100px;

}

input{
	padding-bottom: 0.5cm;
	padding-right: 4cm;
	margin-bottom: 0.5cm;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 10.5cm;
  }
/* .shapebook1 div{
	border-radius: 20px;
} */

.exact{
	height: 1cm;
}