body{
    background-image: url('../images/01.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcomme{
    text-align: center;
    padding-top: 200px;
    text-shadow: white 10px 10px 15px;
}
form{
    text-align: center;

}

label{
    display: inline-block;
    width: 500px;
    text-align: left;
    color: white;

}

